html, body {
	margin: 0 auto;
	padding: 0 auto;
	font-family: Quicksand, sans-serif;
	color: #ffffff;
	background: #FF6C61;
}

p { margin: 0; padding: 4px; }

div {	margin: 0; padding: 0;}

#chartContainer {
	margin: 0px;
    border-color: #E7E7E7;
    padding: 10px 0px 0px 0px;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
	width:90%!important;
}

#pendingStatus {
	color: #ffffff;
	height: 120px;
	font-size:20px;
	font-weight: 800;
}

#pendingHeart {
  height: 100px;
}

.pay-button {
	width: 152px;
	height: 44.5px;
	background-size: 100%;
	background-image: url('https://metamask.github.io/TipButton/images/1_pay_mm_off.png');
	cursor: pointer;
	display: inline;
	padding-bottom: 8px;
}

#wrapper {
	position:absolute;
	top: 50%;
	left: 50%;
	width:740px;
	height:680px;
	margin: -340px 0 0 -370px;
	padding: 0;
}

/* Header start */
#header {
	text-align: center;
	margin: 0 0 30px 0;
	padding: 15px 0 0px 0;
}

#txt_title {
	color: #ffffff;
	font-size: 34px;
	text-align:center;
    padding: 30px 0px 10px 0px;
	text-shadow: 0 -1px 2px rgba(255,255,255,.5);
}

#txt_subtitle {
	font-size: 17px;
	text-align: center;
}

#table_title {
	    color: black;
}

#last-donation-container {
    text-align: center;
    padding: 0px 0px 10px 0px;
}